@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Chakra+Petch&family=Montserrat:wght@300;700&family=Open+Sans&family=Pacifico&family=Pinyon+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;1,100;1,300;1,400;1,500&family=Rajdhani:wght@500&family=Raleway:wght@200&family=Roboto:wght@400;500;700&family=Sora:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
.small-nav {
  display: none;
}
header {
  background-color: #2874f0;
  padding: 12px 0;
}
.hamburgerMenu {
  display: none;
}
.logo-img a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.join {
  color: #fff;
  font-style: italic;
  font-size: 12px;
  font-weight: 600;
}
.plus {
  font-style: italic;
  color: #ffe500;
  font-size: 12px;
  font-weight: 600;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
}
.search {
  max-width: 340px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 8px;
  border-radius: 2px;
  cursor: pointer;
}
.search-input {
  width: 100%;
}
.search-input input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 15px;
}
.user {
  padding: 6px 2.5rem;
  border-radius: 2px;
  background-color: #fff;
  color: black;
}
.user a {
  color: #2874f0;
  font-weight: 600;
}
.seller a {
  color: #fff;
  font-size: 17px;
  letter-spacing: 0.1px;
  font-weight: 600;
}
.more {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 1rem;
}
.more a i {
  position: absolute;
  top: 4px;
}
.more a {
  color: #fff;
  font-weight: 600;
  font-size: 17px;
}

.cart {
  padding-left: 1rem;
}
.cart a {
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
#sub-header ul {
  display: flex;
  justify-content: space-between;
  padding: 5px 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 9px;
}
#sub-header ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sub-header ul li:hover {
  color: #2874f0;
}
#sub-header ul li img {
  display: block;
  width: 100%;
}
#sub-header ul li span {
  font-size: 14px;
}
#slider {
  display: flex;
  overflow-y: scroll;
}
#slider::-webkit-scrollbar {
  padding: 0px;
}
#slider img {
  width: 400px;
  object-fit: cover;
}
#topOffer {
  display: none;
}
.sale {
  background-color: #fbd5ef;
  padding: 1rem;
}
.sale-page {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}
.off {
  color: rgba(0, 140, 0, 1);
  padding: 5px 0;
}
.sales-products {
  display: flex;
  justify-content: center;
  gap: 12px;
}
.re3323 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
}
.ffs343 {
  padding: 10px;
}
.oopp000 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.phones-items {
  padding: 10px;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pro009 {
  border-radius: 5px;
  padding: 0px 0px 8px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-item-img {
  position: relative;
}
product-item-img img {
  display: block;
  object-fit: cover;
}
.rating {
  position: absolute;
  bottom: 2px;
  padding: 3px 4px;
  background-color: #388e3c;
  color: #fff;
  border-radius: 3px;
  font-size: 10px;
  font-weight: 600;
}
.product-price {
  display: flex;
  justify-content: space-evenly;
  padding-top: 6px;
  gap: 10px;
}
.current-price {
  font-size: 10px;
}
.discount-price {
  font-size: 10px;
  display: flex;
  align-items: center;
}
