* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
body {
  background-color: #f1f2f4;
}
.container {
  padding: 1rem;
}
.img-product-0099 {
  background-color: #fff;
}
.home {
  background-color: #2874f0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.image-options {
  display: flex;
  gap: 10px;
  padding-top: 0.8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  overflow-y: scroll;
}
.image-options::-webkit-scrollbar {
  padding: 0px;
}
.image-options img {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 2px 0px;
  padding: 10px;
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.image-options img:hover {
  border: 1px solid rgb(0, 140, 0);
}
.title {
  padding: 1rem;
}
.title p {
  color: rgb(17, 17, 18);
  font-size: 14px;
}
.rating {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 1rem;
}
.rating-star {
  display: flex;
  align-items: center;
}
.rating-star i {
  color: rgb(0, 140, 0);
}
.original-price {
  display: flex;
  align-items: center;
  text-decoration: line-through;
}
.fake-price strong {
  display: flex;
  align-items: center;
}
.off-product {
  display: flex;
  align-items: center;

  gap: 10px;
}
.off {
  color: rgb(0, 140, 0);
  font-size: larger;
  font-weight: 600;
}
.free-delevery {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.trust {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
}
.se777 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: rgb(17, 17, 18);
  font-size: 14px;
}
.offer {
  color: rgb(113, 116, 120);
  padding: 1rem 0;
}
.with-offer {
  background-color: #fff;
  padding: 1rem;
}
.offer-container {
  margin-top: 0.5rem;
  padding: 20px 10px;
  border: 1px solid rgb(0, 140, 0);
  border-radius: 5px;
}
.fastival-offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.offer-det00 p {
  font-size: 14px;
}
.spotify {
  padding: 1rem;
  background-color: #fff;
}
.spotify-offer {
  display: flex;
  gap: 1.5rem;
  border: 1px solid rgb(0, 140, 0);
  border-radius: 5px;
  padding: 1rem;
}
.product-highlight {
  padding: 1rem;
  margin-top: 1rem;
  background-color: #fff;
}
.config {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.config09jj {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.ram-det {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.config09jj h3 {
  color: rgb(113, 116, 120);
  font-weight: 500;
  font-size: 1rem;
}
.config09jj p {
  font-size: 16px;
}
.config09jj span {
  font-weight: 300;
  color: #181818;
}
.more-detls {
  background-color: #fff;
}
.others-detl-cont {
  display: flex;
  flex-direction: column;
}
.oth00oo9 {
  padding: 1.5rem 1rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.oth00oo9 h3 {
  font-weight: 500;
  font-size: 1rem;
  color: rgb(113, 116, 120);
}
.oth00oo9 p {
  font-size: 0.9rem;
}
.f55line {
  width: 120px;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(0, 140, 0);
}
.five555stR i {
  font-size: 14px;
}
.four444,
.t333star {
  width: 120px;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(135, 135, 135);
  position: relative;
}
.fourstar4444 {
  position: absolute;
  width: 70px;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(0, 140, 0);
}
.t33rrr {
  position: absolute;
  width: 40px;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(0, 140, 0);
}
.twst223r {
  position: absolute;
  width: 20px;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(0, 140, 0);
}
.average {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.one222 {
  position: absolute;
  width: 10px;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(0, 140, 0);
}
.stars {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.rating-reviews {
  padding: 1rem;
  background-color: #fff;
}
.rating-cont {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.number-of-rating {
  color: rgb(135, 135, 135);
  font-size: 12px;
}
.five555stR {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews {
  background-color: #fff;
}
.reviews-cont {
  padding: 1rem;
}
.name {
  display: flex;
  gap: 10px;
  padding: 1rem 0;
}
.name span {
  font-size: 13px;
}
.rew-det {
  font-size: 14px;
}
.verified {
  padding: 0.4rem 0;
  color: rgb(135, 135, 135);
  font-size: 12px;
}
.bajaj {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.onebj99 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.onebj99 img {
  width: 40px;
}
.onebj99 span {
  font-size: 11px;
}
.product-img-det {
  padding: 2rem 1rem;
  background-color: #fff;
}
.product-img-det h3 {
  margin: 1rem 0;
  font-family: "Roboto Medium,Roboto-Medium,Droid Sans,HelveticaNeue-Medium,Helvetica Neue Medium,sans-serif-medium";
  font-weight: 500;
}
.img-poo099 img {
  width: 100%;
  display: block;
}
.scroll-product {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 3rem;
  display: flex;
  overflow-y: scroll;
  gap: 10px;
}
.scroll-product-cont a {
  color: #000;
  width: 140px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.scroll-product-cont img {
  width: 130px;
  display: block;
  /* height: 150px; */
  object-fit: contain;
}
.scroll-product-cont .title {
  font-size: 10px;
  text-align: start;
}
.tite {
  font-size: 12px;
  padding: 10px 0;
}
.price {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 10px;
  font-size: 13px;
}
.price .orig-price {
  text-decoration: line-through;
  color: #a2a2a2;
}
.off {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
}
.off img {
  width: 50px;
  object-fit: contain;
}
/* !BUY */
.buy {
  background-color: #fb641b;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
}
.buy a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
}
